# ANALISIS EXPLORATORIO DE LOS DATOS (EDA)
## El objetivo es entender la estructura , las caracteristicas y las posibles relaciones en los datos antes de contruir cualquier modelo.

Carga del DS listo para analisis

In [30]:
import pandas as pd
# Carga el archivo del archivo limpio
df = pd.read_csv('data/processed/pib_limpio.csv', skiprows=1)

### Visión general de los datos

* `df.head()`: Primeras filas, para ver las columnas, los nombres y los tipos de datos a grandes rasgos.
* `df.info()`: Revisar la información con un resumen de números de filas y columnas, los nombres de las columnas, la cantidad de valores no nulos en cada una y el tipo de dato.
* `df.describe()`: Obtener estadísticas descriptivas para las columnas numéricas. Con esto nos mostrará estadísticas como la media, desviación estándar, valores mínimos y máximos, y los cuartiles.

In [31]:
df.head()

,Country Name,Country Code,2019.0,2020.0,2021.0,2022.0,2023.0
0,Argentina,ARG,1.492100e+12,5.090000e+11,2.781000e+11,7.350000e+11,1.361300e+12
1,Brazil,BRA,8.961000e+11,2.279500e+12,1.978400e+12,1.322700e+12,1.234500e+12
2,United States,USA,2.164700e+12,6.277000e+11,6.323000e+11,1.705900e+12,1.531200e+12
3,China,CHN,8.600000e+09,1.491000e+11,1.204200e+12,2.200000e+12,9.592000e+11
4,India,IND,8.261000e+11,1.537000e+12,2.098200e+12,2.001300e+12,1.486400e+12

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  51 non-null     object
 1   Country Code  51 non-null     object
 2   2019.0        51 non-null     float64
 3   2020.0        51 non-null     float64
 4   2021.0        51 non-null     float64
 5   2022.0        51 non-null     float64
 6   2023.0        51 non-null     float64
dtypes: float64(5), object(2)
memory usage: 2.9+ KB

In [33]:
df.describe()

             2019.0        2020.0        2021.0        2022.0        2023.0
count  5.100000e+01  5.100000e+01  5.100000e+01  5.100000e+01  5.100000e+01
mean   2.297086e+12  2.530067e+12  2.420443e+12  2.506341e+12  2.724741e+12
std    8.074134e+12  8.891849e+12  8.499300e+12  8.794686e+12  9.552498e+12
min    8.600000e+09  1.150000e+10  2.860000e+10  4.290000e+10  2.170000e+10
25%    4.702000e+11  5.225500e+11  6.608000e+11  7.343000e+11  1.185300e+12
50%    1.230300e+12  1.399400e+12  1.356700e+12  1.330500e+12  1.479800e+12
75%    1.904900e+12  2.160050e+12  1.846400e+12  1.856800e+12  1.807000e+12
max    5.857570e+13  6.451670e+13  6.172130e+13  6.391170e+13  6.948090e+13